langchain==0.1.12
langchain-community>=0.0.28
langchain-openai==0.0.8
python-dotenv==1.0.1
sentence-transformers==2.5.1
pypdf==4.1.0
flask==3.0.2
openai==1.12.0
faiss-cpu==1.8.0
tiktoken==0.6.0
python-multipart==0.0.9
tqdm==4.66.2
